@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');
html,
body {
	padding: 0 !important;
	margin: 0;
	font-family: 'Lato', sans-serif !important;
}
 header {
	position: relative;
}
/*header nav {
	position: absolute;
	right: 10rem;
	top: 2rem;
	background: #ebd4d4;
	padding: .5rem;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav li {
	margin: 0;
	display: inline-block;
	border-right: 1px solid rgba(253, 253, 253, 0.3);
}
header nav a {
	color: #fdfdfd;
	padding: 1rem;
	font-weight: 300;
	font-size: 1.6rem;
	text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.7);
	text-transform: uppercase;
	letter-spacing: 5px;
}*/
header nav a:hover {
	color: #5f5c9f;
}
header nav li:last-child {
	border: none;
}
/*#logo {
	text-transform: uppercase;
	background: #252525;
	display: inline-block;
	text-align: center;
	padding: 2rem;
	margin-bottom: 2rem;
	margin-left: 2rem;
	font-size: 2rem;
}*/
/*#logo .brand {
	color: #54b7e6;
	-webkit-box-shadow: inset 0 0 10px -3px #252525;
	box-shadow: inset 0 0 10px -3px #252525;
}
#banner {
	position: relative;
	height: 700px;
	overflow: hidden;
	-webkit-box-shadow: 0 0 10px -3px #252525;
	box-shadow: 0 0 10px -3px #252525;
	color: #fdfdfd;
}*/
#banner h1,
#banner h2 {
	text-align: center;
	text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.1);
}
/*.titles {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	background: rgba(253, 253, 253, 0.8);
	padding: 2rem;
	border-top: 5px solid #fdfdfd;
	border-bottom: 5px solid #fdfdfd;
	-webkit-box-shadow: inset 0 0 10px -3px #252525, 0 0 10px -3px #252525;
	box-shadow: inset 0 0 10px -3px #252525, 0 0 10px -3px #252525;
}*/
.text {
	font-weight: 300;
	text-transform: uppercase;
	line-height: 1;
	font-size: 2.2rem;
	color: #252525;
}
.text--primary {
	font-weight: 300;
	font-size: 5rem;
}
main {
	padding-top: 5rem;
	background: #fdfdfd;
	min-height: 500px;
}
.video-background {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -99;
}
.video-foreground,
.video-background iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
@media (min-aspect-ratio: 16/9) {
	.video-foreground {
		height: 300%;
		top: -100%;
	}
}
@media (max-aspect-ratio: 16/9) {
	.video-foreground {
		width: 300%;
		left: -100%;
	}
}


/*Tool Tip*/




footer{
	padding: 2rem;
	color: #fdfdfd;
	background: #252525;
	border-top: 1px solid #54b7e6;
	border-bottom: 4px solid #54b7e6;
}
